<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RHAddressBook.framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>RHAddressBook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RHAddressBookTester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>133DF0921470EE36005330C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>133DF0A71470F273005330C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13C9D4FF146C5A8600327D15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13D15188193E7688003B0F45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
